$dark_black: #000;
$bg_color: #181818;
$black_color: #202020;
$light-black: #333;
$bg_color2: #282b45;
$darkslategrey: #3A4958;
$darkslateblue: #617891;
$slategrey: #708090;
$dimgrey: #696969;
$middleslateblue: #6b879f;
$lightgrey: #ccc;
$light_blue: #7e9bb2;
$lightslateblue: #99adbd;
$dodgerblue: #1e90ff;
$deepskyblue: #00bfff;
$aqua: #00ffff;
$whitesmoke: #f5f5f5;