$bg_color: #181818;
$black_color: #202020;
$bg_color2: #282b45;
$slategrey: #708090;
$dimgrey: #696969;
$lightgrey: #ccc;
$deepskyblue: #00bfff;
$aqua: #00ffff;
$whitesmoke: #f5f5f5;

/*
clair
#6b879f

foncé
#617891
*/