@use 'fonts.scss';
@use 'colors.scss';

.footer {
  width: auto;
  .divfooterlogo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .a {
      display: flex;
      align-items: center;
      background: linear-gradient(30deg, colors.$slategrey, colors.$bg_color2);
      border-radius: 50px;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: colors.$lightgrey;
      padding: 0px 12px;
      &:hover {
        box-shadow: 0px 0px 10px colors.$aqua;
        color: colors.$aqua;
      }
      &:active {
        background: colors.$bg_color2;
        box-shadow: 0px 0px 10px colors.$deepskyblue;
        color: colors.$deepskyblue;
      }
      .icons {
        margin-right: 5px;
        padding: 4px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    width: auto;
    .divfooterlogo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .a {
        display: flex;
        align-items: center;
        background: linear-gradient(30deg, colors.$slategrey, colors.$bg_color2);
        border-radius: 50px;
        text-decoration: none;
        font-size: 0.6rem;
        color: colors.$lightgrey;
        padding: 0px 3px;
        .icons {
          margin-right: 3px;
          padding: 1px;
        }
      }
    }
  }
}