@use 'fonts.scss';
@use 'colors.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: colors.$dark_black;
  scroll-behavior: smooth;
  overflow-x: hidden;  
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: colors.$darkslategrey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: colors.$bg_color2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: colors.$darkslateblue;
  }
}

footer {
  display: flex;
  height: 100px;
  background: linear-gradient(30deg, colors.$bg_color2, colors.$black_color);
  box-shadow: 0 0 7px colors.$bg_color;
}
