@use 'fonts.scss';
@use 'colors.scss';

.navbar {
  width: auto;
  height: 80px;
  display: flex;
  background: linear-gradient(30deg, colors.$bg_color2, colors.$black_color);
  box-shadow: 0 0 7px colors.$bg_color;
  .image {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    .img {
      display: flex;
      width: auto;
      height: auto;
      margin-left: 10px;
      object-fit: cover;
      border-radius: 10%;
    }
  }
  .ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
    .li {
      list-style: none;
      padding: 10px 0;
    }
  }
  .li, a {
    margin: 0;
    margin-right: 20px;
    text-decoration: none;
    font-family: fonts.$akayakanadaka_font;
    font-size: 1.6rem;
    font-weight: 600;
    color: colors.$middleslateblue;
    filter: contrast(100%);
    transition: transform ease-in-out 0.1s;
    &:hover {
      color: colors.$light_blue;
      transform: scale(1.05);
    }
    &:active {
      color: colors.$aqua;
      transform: scale(0.95);
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    width: auto;
    display: flex;
    .image {
      width: 20%;
      margin: auto;
      display: flex;
      align-items: center;
      .img {
        display: flex;
        width: auto;
        height: auto;
        margin-left: 10px;
        object-fit: cover;
        border-radius: 10%;
      }
    }
    .ul {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: right;
      .li {
        list-style: none;
        padding: 10px 0;
      }
    }
    .li, a {
      margin: 0;
      margin-right: 20px;
      text-decoration: none;
      font-size: 1.0rem;
      color: colors.$middleslateblue;
      filter: contrast(100%);
      transition: transform ease-in-out 0.1s;
    }
  }
}